@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-1: #0077ff;
  --brand-2: #9999ff;
  --brand-3: #1c86fa;
  --marked-color: #fff;
  font-size: 14px;
  --btn-primary-color: #fff;
}

* {
  font-family: "Inter", sans-serif !important;
}
